
/* this is the left most pane, the one to its right will be pane1 and so on */
div.master
{
	width:1000px;
	height:1000px;
}
.frontPage .pane0
{
	width: 250px;
	float:left;
	margin-right:40px;
}

.frontPage .pane1
{
	width: 700px;
	float:left;
}